---
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle="Pedro Pinho">
	<div class="mx-auto min-h-screen max-w-screen-xl">
		<div id="hero" class="w-full h-fit py-11 px-8 gap-8 flex flex-row">
			<div id="contact_about" class="w-full h-full flex flex-row">
				<div id="contact" class="w-[40%] h-fit gap-8">
					<div id="name" class="gap-2">
						<h1>Pedro Pinho</h1>
						<p class="medium">bryer.pinho@outlook.com</p>
					</div>
					<ul id="media" class="h-fit w-fit gap-4 flex flex-row">
						<li id="github" class="h-8 w-8">
							<a class="hover:[#FFFFFF]">
								<svg viewBox="0 0 1024 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z" transform="scale(64)" fill="#8398ED"/>
								</svg>
							</a>
						</li>
						<li id="linkedin" class="h-8 w-8">
							<a>
								<img src="placeholder.png"/>	
							</a>
						</li>
					</ul>
					<div id="description">
						<span class="medium">Software engineer;<br></span>
						<span class="medium">Full stack developer.</span>						
					</div>
				</div>
				<div id="about" class="w-[60%] h-fit gap-4">
					<h2>About me</h2>
					<p class="mb-4">Developer with high attention to detail, mindful of time management, open-minded, team working, adaptable and learning new things every day.</p>
					<p class="mb-4">I am always fascinated with good UX, beautiful visuals and smooth transitions.</p>
					<p class="mb-4">When leisuring you can find me painting miniatures, reading books, playing board games, video games or even in the gym.</p>
				</div>
			</div>
			<div>
				<div id="skills">
	
				</div>
				<div id="career">
		
				</div>
			</div>
		</div>
	
		<div></div>
	
		<div id="projects">
	
		</div>
	
		<div></div>
	
		<div id="currentWork">
	
		</div>
	</div>
</Layout>