---
import Layout from "../layouts/Layout.astro";

const githubLink = "https://github.com/UA-Smart-Signage-Platform/Content-Manager-System-and-Content-Creator-Tool/tree/dev";

const softSkills = [
    "Communication",
    "Organization",
    "Adaptability",
    "Leadership",
    "Patience",
    "Research"
]
---
<Layout pageTitle="UA Smart Signage">
    <div class="mx-auto min-h-screen max-w-screen-xl">
        <div class="w-full h-fit gap-8">
            <div id="contact_about" class="w-full h-full py-11 px-8 gap-8 flex flex-row">
                <div id="contact" class="flex flex-col w-full h-fit">
                    <div id="name" class="flex flex-col gap-8">
                        <h1>UA Smart Signage</h1>
                        <ul id="media" class="h-fit w-fit gap-4 flex flex-row">
                            <li id="github" class="h-8 w-8 scaleImg">
                                <a href={githubLink}>
                                    <svg viewBox="0 0 1024 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z" transform="scale(64)" fill="#8398ED"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="techstack_about" class="flex flex-row w-full h-full pt-11 pb-48 px-8 gap-8">
                <div id="techstack_softskills" class="flex flex-col w-[50%] gap-11 px-6">
                    <div class="flex flex-col gap-5 h-fit w-full">
                        <h2 class="w-full">Tech Stack & Features</h2>
                        <div class="flex flex-col gap-5 px-3">
                            <div class="flex">
                                <p class="medium">Due to the complexity of this software, please refer to the 
                                    <a href="https://ua-smart-signage-platform.github.io/Documentation-Website/documentation/introduction/">
                                        <span class="text-[#A2A372]">
                                            documentation.
                                            <span class="ml-1 inline-flex">
                                                <svg 
                                                    xmlns="http://www.w3.org/2000/svg" 
                                                    viewBox="0 -256 1850 1850" 
                                                    width="24" 
                                                    height="24">
                                                <g transform="matrix(1,0,0,-1,30.372881,1426.9492)" id="g3027">
                                                    <path d="M 1408,608 V 288 Q 1408,169 1323.5,84.5 1239,0 1120,0 H 288 Q 169,0 84.5,84.5 0,169 0,288 v 832 Q 0,1239 84.5,1323.5 169,1408 288,1408 h 704 q 14,0 23,-9 9,-9 9,-23 v -64 q 0,-14 -9,-23 -9,-9 -23,-9 H 288 q -66,0 -113,-47 -47,-47 -47,-113 V 288 q 0,-66 47,-113 47,-47 113,-47 h 832 q 66,0 113,47 47,47 47,113 v 320 q 0,14 9,23 9,9 23,9 h 64 q 14,0 23,-9 9,-9 9,-23 z m 384,864 V 960 q 0,-26 -19,-45 -19,-19 -45,-19 -26,0 -45,19 L 1507,1091 855,439 q -10,-10 -23,-10 -13,0 -23,10 L 695,553 q -10,10 -10,23 0,13 10,23 l 652,652 -176,176 q -19,19 -19,45 0,26 19,45 19,19 45,19 h 512 q 26,0 45,-19 19,-19 19,-45 z" id="path3029" inkscape:connector-curvature="0" style="fill:currentColor"/>
                                                </g>
                                                </svg>
                                            </span>
                                        </span>
                                    </a>
                                </p>
                            </div>
                            <p class="medium">
                                <a href="https://ua-smart-signage-platform.github.io/Documentation-Website/pi/#last-phase" class="text-[#A2A372]">
                                    Commercial video, Demo and Thesis
                                    <span class="text-[#A2A372]">
                                        <span class="ml-1 inline-flex">
                                            <svg 
                                                xmlns="http://www.w3.org/2000/svg" 
                                                viewBox="0 -256 1850 1850" 
                                                width="24" 
                                                height="24">
                                            <g transform="matrix(1,0,0,-1,30.372881,1426.9492)" id="g3027">
                                                <path d="M 1408,608 V 288 Q 1408,169 1323.5,84.5 1239,0 1120,0 H 288 Q 169,0 84.5,84.5 0,169 0,288 v 832 Q 0,1239 84.5,1323.5 169,1408 288,1408 h 704 q 14,0 23,-9 9,-9 9,-23 v -64 q 0,-14 -9,-23 -9,-9 -23,-9 H 288 q -66,0 -113,-47 -47,-47 -47,-113 V 288 q 0,-66 47,-113 47,-47 113,-47 h 832 q 66,0 113,47 47,47 47,113 v 320 q 0,14 9,23 9,9 23,9 h 64 q 14,0 23,-9 9,-9 9,-23 z m 384,864 V 960 q 0,-26 -19,-45 -19,-19 -45,-19 -26,0 -45,19 L 1507,1091 855,439 q -10,-10 -23,-10 -13,0 -23,10 L 695,553 q -10,10 -10,23 0,13 10,23 l 652,652 -176,176 q -19,19 -19,45 0,26 19,45 19,19 45,19 h 512 q 26,0 45,-19 19,-19 19,-45 z" id="path3029" inkscape:connector-curvature="0" style="fill:currentColor"/>
                                            </g>
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div id="softskills" class="flex flex-col gap-4 h-fit w-full">
                        <h3 class="w-full">Soft skills</h3>
                        <ul class="flex flex-wrap px-3 gap-2.5 w-[75%]">
                            {softSkills.map((skill) =>
                                <li class="flex rounded-xl w-fit h-fit text-[#1F0F1F] bg-[#A8B0C6] py-1 px-1.5 font-medium">{skill}</li>
                            )}
                        </ul>
                    </div>
                </div>
                <div id="about_challenges" class="flex flex-col w-[50%] h-fit gap-8 px-6 min-h-140">
                    <div id="about" class="flex flex-col gap-4">
                        <h2>About</h2>
                        <div>
                            <p class="mb-4">This is a digital signage <span class="text-[#A3A172]">SaaS</span> product that allows you to control what is displayed on a network of monitors connected through Wi-Fi. Users can create customizable templates and change what is being displayed through the website.</p>
                            <p class="mb-4">This project's goal was to substitute our University's basic digital signage system and develop a more sophisticated and appealing solution.</p>
                            <p class="mb-4">The project group consisted of a group of six people, and was supported by two tutors. Work on the project lasted four months, from 
                                <a href="https://ua-smart-signage-platform.github.io/Documentation-Website/files/Project_Proposal.pdf" class="text-[#A3A172]">
                                    product concept
                                        <span class="mr-1 inline-flex text-[#A2A372]">
                                            <svg 
                                                xmlns="http://www.w3.org/2000/svg" 
                                                viewBox="0 -256 1850 1850" 
                                                width="16" 
                                                height="16">
                                            <g transform="matrix(1,0,0,-1,30.372881,1426.9492)" id="g3027">
                                                <path d="M 1408,608 V 288 Q 1408,169 1323.5,84.5 1239,0 1120,0 H 288 Q 169,0 84.5,84.5 0,169 0,288 v 832 Q 0,1239 84.5,1323.5 169,1408 288,1408 h 704 q 14,0 23,-9 9,-9 9,-23 v -64 q 0,-14 -9,-23 -9,-9 -23,-9 H 288 q -66,0 -113,-47 -47,-47 -47,-113 V 288 q 0,-66 47,-113 47,-47 113,-47 h 832 q 66,0 113,47 47,47 47,113 v 320 q 0,14 9,23 9,9 23,9 h 64 q 14,0 23,-9 9,-9 9,-23 z m 384,864 V 960 q 0,-26 -19,-45 -19,-19 -45,-19 -26,0 -45,19 L 1507,1091 855,439 q -10,-10 -23,-10 -13,0 -23,10 L 695,553 q -10,10 -10,23 0,13 10,23 l 652,652 -176,176 q -19,19 -19,45 0,26 19,45 19,19 45,19 h 512 q 26,0 45,-19 19,-19 19,-45 z" id="path3029" inkscape:connector-curvature="0" style="fill:currentColor"/>
                                            </g>
                                            </svg>
                                        </span>
                                    </a>
                                </a>, to MVP, to production. 
                            </p>
                            <p class="mb-4">After the product was implemented in our University's department building, we added a few more features which were cut during initial development.</p>
                        </div>
                    </div>
                    <div id="challenges" class="flex flex-col gap-4">
                        <h3>Challenges</h3>
                        <div>
                            <p class="mb-4">Although we had two tutors supporting the team, I was responsible for leading the student group in meeting deadlines, creating and adjusting sprints and delivering weekly status reports.</p>
                            <p class="mb-4">Despite this being my first time leading a team on such a substantial project, through radical prioritization we met all our deadlines and implemented all the features requested by our department.</p>
                            <p class="mb-4">Even with careful planning however, the team encountered some issues relating to the database architecture mid-way through the project. We solved these together through brainstorming sessions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</Layout>