<footer class="bg-[#13151D] flex w-full h-fit py-20 px-8 items-center">
    <div class="flex flex-col w-[1440px] mx-auto items-center text-[#8398ED80]">
        <p>Website crafted with 
            <span>
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a>, 
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a>, 
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JS</a>;
            </span>
        </p>
        <p>
            Alongside 
            <span>
                <a href="https://astro.build/">Astro</a>
            </span> 
            for structure, 
            <span>
                <a href="https://www.netlify.com/">Netlify</a>
            </span>
             for hosting,
        </p>
        <p>
            <span>
                <a href="https://www.figma.com">Figma</a>
            </span> 
            for designing and 
            <span>
                <a href="https://www.realtimecolors.com">RealTimeColors</a>
            </span> 
            for color theory.
        </p>
    </div>
</footer>

<style>
    a {
        color: #A8B0C680;
    }

    a:hover {
        color: #a8b0c6c4;
    }
</style>